In [ ]:
# assignment from propagation : ffill with avg of recent 3 previous values. ffill with avg of all previous value

# assignment-01

In [1]:
import pandas as pd

In [2]:
data={
    'id':[1,2,3,None,4],
    'score':[10,20,30,23,None]
}

In [3]:
df=pd.DataFrame(data)

In [4]:
df

    id  score
0  1.0   10.0
1  2.0   20.0
2  3.0   30.0
3  NaN   23.0
4  4.0    NaN

In [5]:
df_c=df.copy()

In [6]:
df_c

    id  score
0  1.0   10.0
1  2.0   20.0
2  3.0   30.0
3  NaN   23.0
4  4.0    NaN

In [7]:
df_c['id']=df_c['id'].fillna(value=df_c['id'].shift(1).rolling(3).mean())
df_c['score']=df_c['score'].fillna(value=df_c['score'].shift(1).rolling(3).mean())

In [8]:
df_c

    id      score
0  1.0  10.000000
1  2.0  20.000000
2  3.0  30.000000
3  2.0  23.000000
4  4.0  24.333333

# assignment-02

In [10]:
df

    id  score
0  1.0   10.0
1  2.0   20.0
2  3.0   30.0
3  NaN   23.0
4  4.0    NaN

In [11]:
df_copy=df.copy()

In [12]:
df_copy['id']=df_copy['id'].fillna(value=df_copy['id'].expanding().mean())
df_copy['score']=df_copy['score'].fillna(value=df_copy['score'].expanding().mean())

In [13]:
df_copy

    id  score
0  1.0  10.00
1  2.0  20.00
2  3.0  30.00
3  2.0  23.00
4  4.0  20.75